/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #FFFFFF;
	--color-grey: #717171;
	--color-light-grey: #C1C1C1;
	--color-highlight: #ADFF2F;
}

body{
    background-color: var(--color-dark-color);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

/* UTILITY */

.debug{
    border: 1px solid white;
}

.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.reverse{
    flex-direction: row-reverse;
}

.center {
    justify-content: center;
}

.primary-text{
    color: var(--color-white);
}

.secondary-text{
    color: var(--color-grey);
    
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

.btn {
    padding: 10px 30px;
    color: var(--color-white);
    border: 1px solid white;
    border-radius: 20px;
    font-size: 0.6em; 
}

.px20{
    padding-left: 20px;
    padding-right: 20px;
}

.py20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

img{
    width: 100%;
    display: block;
}




/* CONTAINER */

.wrapper {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: calc(100% - 90px);
    background-color: var(--color-dark-color);
}

#side-bar {
    width: 250px;
    background-color: var(--color-black);
}


#navbar a {
    color: var(--color-grey);
    text-decoration: none;
    padding: 10px 20px;
    display: block;

}


#logo{
    width: 60%;
}


#main-content {
    width: calc(100% - 250px);  
    overflow-y: auto;
    padding-top: 100px; 
}


.card  {
    width: calc(100% / 6);
    min-width: 100px;
    padding: 0 20px 10px 0;
}



.small-img{
    width: 25%;
}


.card-text {
    text-align: center;
}


#call-to-action {
    background-color: rgba(0, 0, 0, 0.6);
    width: calc(100% - 250px);
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
}

#playbar {
    width: 100%;
    height: 90px;
    background-color: var(--color-dark-grey);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;

}

/* MEDIA QUERY */

@media screen and (max-width:1200px) {
    .wrap{
        flex-wrap: wrap;
    }

    .card{
        width: calc(100% / 4);
    }

};

@media screen and (max-width:992px) {
    .card{
        width: calc(100% / 3);
    }
    
}

@media screen and (max-width:768px) {
    .card{
        width: calc(100% / 2);
    }
    
}

@media screen and (max-width:576px) {
    .display-none{
        display: none;
    }

    #logo-small {
        display: block;
    }

    #side-bar{
        width: 100px;
    }

    #main-content {
        width: calc(100% - 100px);
    }

    #call-to-action{
        width: calc(100% - 100px);
    }
    
}
    
