/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #FFFFFF;
	--color-grey: #717171;
	--color-light-grey: #C1C1C1;
	--color-highlight: #ADFF2F;
}

body{
    background-color: var(--color-dark-color);
    font-family: 'Montserrat', sans-serif;
}

/* UTILITY */

.debug{
    background-color: 1px solid white;
}

.d-flex{
    display: flex;
}
